.boutons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5vw;
  margin-right: 25vw;
  margin-left: 25vw;
}

#tamagotchi {
  height: 50vh;
  border: none;
  user-select: none;
}

#dr {
  display: flex;
  justify-content: center;
}

body {
  background-image: url(/public/fond.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0px;
}

#infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3vw 20vw 10vh 20vw;
}

.info {
  border: none;
}

.popup {
  margin: 15vw;
  margin-top: 5vw;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1.8vw;
  width: 70vw;
  height: 40vh;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
